{% extends 'base.html.twig' %}

{% block title %}LISTE DES UTILISATEURS{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/css/datatables.min.css') }}"/>
{% endblock %}

{% block content %}LISTE DES UTILISATEURS DU SYSTEME{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                {{ message|raw }}
            {% endfor %}
        </div>
    {% endfor %}
    <table id="utilisateurs" class="table table-striped table-bordered table-hover mt-4">
        <thead>
        <tr class="table-dark">
            <th>ID</th>
            <th>{{ "NOM UTILISATEUR"}}</th>
            <th>{{ "LOGIN" }}</th>
            <th class="text-center">{{ "MINISTERE" }}</th>
            <th class="text-center">{{ "TELEPHONE" }}</th>
            <th class="text-center">{{ "CREE LE" }}</th>
            <th class="text-center">{{ "CREE PAR" }}</th>
            <th class="text-center">{{ "DERNIERE CONNEXION" }}</th>
            <th>{{ "ACTIVF (Y/N)" }}</th>
            <th class="text-center">{{ "ACTION" }}</th>
        </tr>
        </thead>
        <tbody>
        {% set i = 1 %}
        {% for user in users %}
            <tr>
                <td>{{ i }}</td>
                <td>{{ user.fullname }}</td>
                <td>{{ user.username }}</td>
                <td class="text-center">{{ user.ministere }}</td>
                <td class="text-center">{{ user.telephone }}</td>
                <td class="text-center">{{ user.createdAt | date('Y-m-d') }}</td>
                <td>{{ user.createdBy == null ? '-':user.createdBy.fullname }}</td>
                <td class="text-center">{{ user.dateDerniereConnexion | date('Y-m-d') }}</td>
                <td class="text-center">{{ user.enableYN ? 'OUI':'NON' }}</td>
                <td class="text-center">
                    <a href="{{ path('user_edit', {'id': user.id}) }}"
                       title="{{ 'Modifier le profil de ' ~ user.username }}"><i class="fa fa-eraser me-2" aria-hidden="true"></i></a>

                    <!-- Bouton de reinitialisation du password d'un user -->
                    <a href="#" data-bs-toggle="modal" data-bs-target="#droppassword{{ user.id }}"
                       title="Réinitialiser le password de {{ user.username }}"><i class="fa fa-recycle me-2" aria-hidden="true"></i></a>
                    <!-- Modal -->
                    <div class="modal fade" id="droppassword{{ user.id }}" data-bs-backdrop="static" data-bs-keyboard="false"
                         tabindex="-1" aria-labelledby="droppasswordLabel" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#droppassword{{ user.id }}">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="droppasswordLabel">Réinitialisation du mot de passe</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Réinitialiser le mot de passe de <span class ="fw-bolder">{{ user.username }}</span> ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">NON, ANNULER</button>
                                    <a href="{{ path('user_resetpassword', {'id': user.id}) }}" class="btn btn-primary">
                                        OUI, RÉINITIALISER
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Bouton de desactivation d'un user -->
                    <a href="#" data-bs-toggle="modal" data-bs-target="#deleteuser{{ user.id }}"
                       title="{{ user.enableYN ? 'Désactiver ': 'Activer ' }} {{ 'le compte de ' ~ user.username }}">
                        <i class="fa fa-toggle-off me-2" aria-hidden="true"></i></a>
                    <!-- Modal -->
                    <div class="modal fade" id="deleteuser{{ user.id }}" data-bs-backdrop="static" data-bs-keyboard="false"
                         tabindex="-1" aria-labelledby="deleteuserLabel" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#deleteuser{{ user.id }}">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="deleteuserLabel">Suppression d'un compte utilisateur</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Supprimer le compte de <span class ="fw-bolder">{{ user.username }}</span> ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">NON, ANNULER</button>
                                    <a href="{{ path('user_delete', {'id': user.id}) }}" class="btn btn-primary">
                                        OUI, SUPPRIMER
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% set i = i + 1 %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('asset/js/datatables.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            new DataTable('#utilisateurs', {
                layout: {
                    topStart: {
                        buttons: [
                            'pageLength',
                            {
                                extend: 'copy',
                                text:      '<span class="">Copier</span>',
                                titleAttr: 'Copier les données du tableau',
                                className: 'btn btn-dark btn-sm',
                            },
                            {
                                extend: 'pdf',
                                text:      '<span class="">PDF</span>',
                                titleAttr: 'Exporter les données du tableau au format pdf',
                                className: 'btn btn-dark btn-sm',
                            },
                            {
                                extend: 'excel',
                                text:      '<span class="">MS Excel</span>',
                                titleAttr: 'Exporter les données du tableau au format excel',
                                className: 'btn btn-dark btn-sm',
                            }
                        ]
                    },
                    bottomStart: 'info',
                    topEnd: {
                        search: {
                            placeholder: 'Filtrer vos données ici'
                        }
                    }
                }
            });
        });
    </script>
{% endblock %}
